{% block content %}
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>US Representative Demographics</title>
  </head>
    <div class="card">
    <h1 class="site-title">US Representative Demographics</h1>
    <p class="subtitle"><a href="https://github.com/wplam107/rep_db">Github</a>).</p>
    <a href="/dashapp/" class="dash-link">
        <span>TODO</span>
    </a>
    </div>
</html>
{% endblock %}